h1{
    font-size: 50px;
}
.name-highlight{
    color: rgb(161, 37, 37);
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 70%;
}
.link-button{
    text-decoration: none;
    background-color: maroon;
    padding: 10px 20px;
    border-radius: 8px;
    color: mediumaquamarine;
    font-weight: 700;
}
.background{
    background-image: linear-gradient(rgb(77, 77, 117) blue);
}