h1{
    font-size: 50px;
}
.name-highlight{
    color: rgb(161, 37, 37);
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 70%;
}
.link-button{
    text-decoration: none;
    background-color: maroon;
    padding: 10px 20px;
    border-radius: 8px;
    color: mediumaquamarine;
    font-weight: 700;
}
section{
   padding-bottom: 40px;
   height: 500px;
}
p{
    color: navy;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
}
#h2{
    font-style: inherit;
}
body{
    background-image: url(images/texture-orange-cement-wall-smooth-simple-bright-background-copy-space-pattern-surface-graphics-design-modern-145083115.jpg);
}
.colorfull{
    color:rgb(14, 87, 14);
}
section experience-area{
    background-origin: none;

}